<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.centerPosition{
position:relative;
    top:50%;
    left:50%;
    bottom:50%;
    right:50%;
}

</style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'topics/jquery-3.2.1.js' %}" ></script>
<script src="{% static 'topics/custom.js' %}" ></script>
    <script src="{% static 'topics/jquery.cookie.js' %}"></script>
    <script src="{% static 'topics/cloud.js' %}"></script>
    <meta charset="UTF-8">
    <title>Welcome to Blind Lemur</title>
</head>
<body>


        <h1 style="color: green"  align="middle"> Welcome to LDA based topic Analysis on Twitter Data</h1>
        <div class ="centerPosition">
            <button class="button" value="Dec" id="month"  onmouseover="request_access(this)">  December </button><br>
        </div>
<div id="chart"></div>
</body>
</html>